/* CARDS DOS POSTS */
.main-venda{
  width: 940px;
  height: 700px;

  display: block;
  margin: 180px auto;
  padding: 10px;

  background-color: #3385ff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 6px;

  z-index: 3;
}
/*TAGS*/
.grid-superior{
  position: absolute;
  top: -20px;

  display: inline-block;
}
.tag-superior{
  min-width: 110px;
  display: inline-block;

  padding: 4px;
  background-color: #e6e6e6;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;

  margin-left: -70px;
  transition: all .4s;
}
.tag-superior:hover{
  margin-right: 70px;
  background-color: #f2f2f2;
}
.tag-superior i{
  color: #4d4d4d;
}
#tag-venda{
  background-color: #3385ff;
  transition: all .4s;
}
#tag-venda:hover{
  background-color: #1a75ff;
}
/*DESCRIÇÃO*/
.horizontal-line-venda{
  width: 650px;

  float: right;

  margin-right: 10px;
  outline: solid 1px #0047b3;
}
.description-venda{
  width: 650px;
  height: 180px;

  margin-top: 10px;
  margin-right: 10px;
  float: right;

  background-color: #1a75ff;
  border-radius: 10px;
  padding: 6px;
}
.description-venda p{
  margin: 0;

  font-size: 15px;
  font-style: italic;
  color: #003380;
  cursor: context-menu;
}
/*NOME*/
.name-venda{
  margin-left: 8px;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  cursor: pointer;
}
/*COMENTÁRIOS*/
.comment-highlight-venda{
  width: 650px;
  height: 45px;

  margin-top: 10px;
  margin-right: 10px;
  float: right;

  border: solid 2px #0047b3;
  border-radius: 5px;
  background-color: #1a75ff;
  padding: 4px;
  cursor: pointer;
}
.comment-highlight-venda:hover{
  background-color: transparent;
}
.comment-highlight-venda i{
  color: #0047b3;
  font-size: 25px;
  margin: 5px 310px;
}
/*PERFIL*/
.profile{
  width: 70px;
  height: 70px;

  cursor: pointer;
  border-radius: 500px;

  margin-left: 10px;
  margin-right: 10px;
  float: left;
}
/*SEGUIR*/
.follow-venda{
  position: absolute;
  left: 100px;
  margin: 20px;

  cursor: pointer;
  background-color: transparent;
  border: 1px solid #0047b3;
  border-radius: 6px;
  padding: 4px;
}
.follow-venda i{
  font-size: 11px;
  color: #0047b3;
}
.follow-venda p{
  margin: 0;
  display: inline-block;
  font-size: 13px;
  color: #003380;
}
/*QUOTE*/
.quote-venda{
  position: absolute;

  font-style: italic;
  text-align: justify;

  bottom: 135px;
  left: 20px;

  width: 200px;
  max-height: 100px;
}
.quote-venda i{
  color: #0047b3;
  font-size: 12px;
}
.quote-venda p{
  white-space: normal;
  word-wrap: break-word;
  margin: 4px;
  font-size: 11px;
  color: #003380;
  cursor: context-menu;
}
/*OCUPAÇÃO*/
.job-venda{
  position: absolute;

  font-style: italic;
  text-align: justify;

  bottom: 60px;
  left: 20px;

  width: 200px;
  max-height: 100px;
}
.job-venda i{
  color: #0047b3;
  font-size: 13px;
}
.job-venda p{
  word-wrap: break-word;
  margin: 4px;
  font-size: 11px;
  color: #003380;
  cursor: context-menu;
}
/*DATA PUBLICAÇÃO*/
.publish-venda{
  position: absolute;

  bottom: 0;
  margin: 10px;

  font-size: 10px;
  font-style: italic;
  color: #003380;
}
/*ÍCONES DA DIREITA*/
.icons-right{
  display: block;
  position: absolute;
  right: 0;
  margin: 260px -50px;
}
.icons-right i{
  cursor: pointer;
  color: white;
  font-size: 18px;
  padding: 10px;
}
/*SELO*/
.selo{
  opacity: 0.1;
  width: 175px;
  height: 175px;

  top: 475px;
  position: absolute;
  left: 50px;

  -webkit-transform: rotate(30deg);
}